@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   margin: 0;
}

.logo{
   margin-left: 20px;
   width: 10rem;
   padding: 20px;
}

.header{
   display: flex;
   flex-direction: row;
   height: 10%;
   background-color: #8EE4AF;
   justify-content: space-around;
   align-items: center;
   position: sticky; top: 0;
   z-index: 1;
   font-weight: 600;
}

#nav-menu{
   height: 100%;
   width: 40%;
   padding: 10px;
   display: flex;
   flex-direction: row;
   list-style: none;
   justify-content: space-between;
   align-items: center;
}

.nav-link{
   color: black;
   text-decoration: none;
   font-size: 20px;
}


 .main{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .car-details{
   margin-top: 30px;
   width: 90%;
   height: 500px;
   display: flex;
   flex-direction: column;
   background-color: #EBECF0;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.5);
 }

.images{
   width: 30%;
   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.car-img{
   width: 200px;
   height: 200px;
   margin-top: 20px;
}

.car-info{
   width: 30%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   align-items: center;
}

.items{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}